In [ ]:
# multiindex dataframes

In [20]:
import numpy as np
from numpy.random import randn
import pandas as pd

In [21]:
# index levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [22]:
# show lists
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [23]:
inside

[1, 2, 3, 1, 2, 3]

In [24]:
# zipping two lists together
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [25]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [26]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [27]:
df

             A         B
G1 1 -0.636511 -0.337237
   2 -0.141059  0.340994
   3  0.751790 -2.100755
G2 1  0.193765 -1.051881
   2  0.541644  0.424403
   3  1.340053  1.248581

In [29]:
# calling data from the table (multilevel index)
df.loc['G1']

          A         B
1 -0.636511 -0.337237
2 -0.141059  0.340994
3  0.751790 -2.100755

In [30]:
df.loc['G1'].loc[1]

A   -0.636511
B   -0.337237
Name: 1, dtype: float64

In [32]:
# check unlabeled indexes
df.index.names

FrozenList([None, None])

In [45]:
# assin labels
df.index.names = ['Groups','Num']

In [46]:
# check the new dataframe
df

                   A         B
Groups Num
G1     1   -0.636511 -0.337237
       2   -0.141059  0.340994
       3    0.751790 -2.100755
G2     1    0.193765 -1.051881
       2    0.541644  0.424403
       3    1.340053  1.248581

In [47]:
# call a specific cell
df.loc['G2'].loc[2]['B']

0.4244027788196631

In [48]:
# cross section (xs)
# returns a cross section of dataframes when it is multilevel

In [49]:
df.xs('G1')

            A         B
Num
1   -0.636511 -0.337237
2   -0.141059  0.340994
3    0.751790 -2.100755

In [51]:
# select multiple indexes from both G1 & G2 groups
df.xs(1,level='Num')

               A         B
Groups
G1     -0.636511 -0.337237
G2      0.193765 -1.051881