In [1]:
# Series

In [2]:
import numpy as np
import pandas as pd

In [3]:
# creating series from various objects

In [4]:
labels = ['a','b','c'] # list of characters
my_data = [10,20,30] # list of integers
arr = np.array(my_data) # array created using list
d = {'a':11,'b':22,'c':33} # dictionary with key-value pairs

In [5]:
pd.Series(data=my_data) # series with a capital "S"

0    10
1    20
2    30
dtype: int64

In [11]:
# define & map data & index ; lableled index 
# pd.Series(data=my_data, index=labels) 
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [18]:
# creating series with array
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [20]:
# creating series with a dictionary
pd.Series(d)

a    11
b    22
c    33
dtype: int64

In [35]:
# creating series with built in functions
# holding the references of built-in functions as data points
# feature not available for numpy
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [30]:
# creating series with numpy
serA = pd.Series((np.arange(0,5)))
# output: series with single element as data
serA

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [33]:
# creating series with numpy
serB = pd.Series([np.arange(0,5)])
# output: series with 1D array as data
serB

0    [0, 1, 2, 3, 4]
dtype: object

In [42]:
# Lookups; grab info from a series
ser1 = pd.Series([1,2,3,4,],['India','Germany','Italy','Japan'])
ser1
# int64 = data types, NOT the country names

India      1
Germany    2
Italy      3
Japan      4
dtype: int64

In [43]:
ser2 = pd.Series([1,2,5,4,],['India','Germany','Nepal','Japan'])
ser2

India      1
Germany    2
Nepal      5
Japan      4
dtype: int64

In [46]:
# check index, call using index or label
# ser1[0]
ser1['India']

1

In [47]:
# checking flexibility, insers strings as data
ser3 = pd.Series(data=labels)
ser3
#index in numeric, datapoints in string

0    a
1    b
2    c
dtype: object

In [48]:
# operations on series
ser1+ser2

Germany    4.0
India      2.0
Italy      NaN
Japan      8.0
Nepal      NaN
dtype: float64