In [2]:
# Basic numeric operations

In [3]:
1+2

3

In [4]:
5-2

3

In [5]:
3*7

21

In [6]:
22/3

7.333333333333333

In [7]:
# modulo operator for remainder
7%3

1

In [8]:
# Mathematical order

In [11]:
3+5*2-7

6

In [15]:
((3+5)*2)-(7*3)

-5

In [16]:
# variables

In [18]:
var=2
var

2

In [19]:
print(var)

2

In [24]:
x=2
x=x+5

In [25]:
print(x)

7

In [26]:
integer=11

In [27]:
integer

11

In [28]:
# Strings and arrays

In [29]:
'this is a String'

'this is a String'

In [30]:
"this is also a String"

'this is also a String'

In [35]:
string = "That's why double quotes also represent a String"

In [36]:
string

"That's why double quotes also represent a String"

In [37]:
print(string)

That's why double quotes also represent a String

In [38]:
# Formatting print statements

In [45]:
name="Roy"
val=2

In [46]:
'My name is {} and I have {} ears'.format(name,val)

'My name is Roy and I have 2 ears'

In [47]:
intro = 'My name is {} and I have {} ears'.format(name,val)

In [48]:
print(intro)

My name is Roy and I have 2 ears

In [56]:
testing = 'My name is {x}. I have {y} ears and {y} legs'.format(y=val,x='Roy')

In [57]:
testing

'My name is Roy. I have 2 ears and 2 legs'

In [58]:
print(testing)

My name is Roy. I have 2 ears and 2 legs

In [59]:
# Indexing Strings

In [61]:
S='Abacus'

In [62]:
print(S[0])

A

In [63]:
print(S[-1])

s

In [64]:
# [starting from: upto thix index but not includeing]

In [65]:
print(S[:-1])

Abacu

In [66]:
print(S[0:-1])

Abacu

In [68]:
print(S[0:])

Abacus

In [69]:
print(S[1:-2])

bac

In [70]:
print(S[1:4])

bac

In [79]:
# Lists are sequence of elements inside a square bracket []
# index 0,1,2,3,....n

In [80]:
['1','2','three']

['1', '2', 'three']

In [81]:
your_list=['1', '2', 'three']

In [82]:
your_list.append('-4')

In [83]:
your_list

['1', '2', 'three', '-4']

In [84]:
print(your_list)

['1', '2', 'three', '-4']

In [77]:
your_list[:3]

['1', '2', 'three']

In [ ]:
# Change element inside a list

In [85]:
your_list[2]='03'

In [86]:
your_list

['1', '2', '03', '-4']

In [89]:
nest=['a','b',['three',4]]

In [90]:
print(nest)

['a', 'b', ['three', 4]]

In [92]:
nest[2][0]

'three'

In [103]:
nested=[1,2,3,['four',[5,'target',6]],'n']

In [105]:
nested[3][1][1]

'target'