In [45]:
# map, lambda, filter, touple unpacking
# define, name and return; example function
# just another fancy way to define a function
def double(val): return val*2

In [46]:
double(7)

14

In [47]:
# map() in python

In [48]:
seq = [1,2,3,4,5]  # A list of numbers

In [49]:
# map "double" function for each element of "seq" sequence
map(double, seq)
# it only returns the memory location of the mapping

In [50]:
list(map(double, seq))
# a list is created with the desired mapping

[2, 4, 6, 8, 10]

In [51]:
# lambda expression
# another way to define a function
f=lambda var:var*2

In [52]:
f(9)

18

In [53]:
'''DocString
creating a list with lambda expression that multiplies each 
element of "seq" with 3
'''
list(map(lambda num:num*3,seq))
# advantage: no longer needed to define a function seperately

[3, 6, 9, 12, 15]

In [54]:
# filter() is used for filter out element from a sequence

In [58]:
# filter the even numbers only (condition for even num%2==0)
# filter must use conditions
list(filter(lambda num:num%2==0,seq))

[2, 4]

In [59]:
# methods effect objects in some manner

In [60]:
B='Hello! my name is Roy'

In [66]:
B.upper()

'HELLO! MY NAME IS ROY'

In [67]:
B.lower()

'hello! my name is roy'

In [68]:
B.split()

['Hello!', 'my', 'name', 'is', 'Roy']

In [73]:
tweet="This is a virtual #Tweet, using Python"

In [72]:
# splitting a tweet using character (char)
tweet.split(',')

['This is a virtual Tweet', ' using Python']

In [74]:
tweet.split('#')

['This is a virtual ', 'Tweet, using Python']

In [77]:
# grab a specific index after split
tweet.split(',')[1]

' using Python'

In [87]:
'''
dictionaries {are key:value} mappings & 
they are NOT supposed to retain any order
'''
d={'c1':0,'c2':1,'c3':2}

In [88]:
d.keys()

dict_keys(['c1', 'c2', 'c3'])

In [89]:
d.items()

dict_items([('c1', 0), ('c2', 1), ('c3', 2)])

In [90]:
d.values()

dict_values([0, 1, 2])

In [121]:
list=['a','b',3,'four']

In [122]:
'''
pop() removes the right most value of a list 
unless index is defined
'''
list.pop()

'four'

In [123]:
# modified list
list

['a', 'b', 3]

In [124]:
# pop() by index
list.pop(1)

'b'

In [125]:
list

['a', 3]

In [126]:
# retain a pop() value in variable
pp=list.pop(1)

In [127]:
pp

3

In [130]:
list.append('test')

In [131]:
list

['a', 'test']

In [132]:
# find in list
lst=['a','b',3,'four']

In [135]:
# returns True or False after search
3 in lst

True

In [136]:
# Touple unpacking
x=[(1,2),(3,4),(5,6)]

In [137]:
x

[(1, 2), (3, 4), (5, 6)]

In [141]:
x[2]
# touple returned

(5, 6)

In [144]:
for item in x:
    print(item)
    # returns 3 touples

(1, 2)
(3, 4)
(5, 6)

In [146]:
for (a,b) in x:
    print(a)
    print(b)
    # unpacks touples

1
2
3
4
5
6