In [66]:
# boolean, lists, set, touple
# () general
# {} touples, set
# [] arrays, index call

# Dictionary {key:value} pairs

In [18]:
dict={1:"ab",'two':666}

In [27]:
dict['two']

666

In [20]:
d={'k1':12}

In [21]:
# call by key name, NOT by index
d['k1']

12

In [22]:
D={'k2':[1,2,3]}

In [23]:
D['k2'][0]

1

In [24]:
my_list=D['k2']

In [25]:
my_list

[1, 2, 3]

In [26]:
my_list[0]

1

In [31]:
nested_dict={'key1':{'nested':[7,8,9]}}

In [35]:
# reverse index -1
nested_dict['key1']['nested'][-1]

9

In [36]:
# Boolean returns True or Flse

In [37]:
True

True

In [67]:
False

False

In [68]:
1>2

False

In [69]:
5!=5

False

In [70]:
11<22

True

In [1]:
# and operations
2==2 and 3<1

False

In [6]:
2==2 and 3<9

True

In [7]:
True and False

False

In [8]:
True and True

True

In [3]:
# or operations
True or True

True

In [4]:
False or False

False

In [5]:
True or False

True

In [10]:
(4<=39)or(5!=59)

True

In [39]:
# Lists vs Touples

In [40]:
list=[11,22,33]

In [42]:
touple=(11,22,33)

In [43]:
list

[11, 22, 33]

In [44]:
touple

(11, 22, 33)

In [50]:
list.append('new')
list[0]=1

In [51]:
list

[1, 22, 33, 'new', 'new', 'new']

In [54]:
# touples are IMMUTABLE
touple.append('new')
touple[0]=1

AttributeError: 'tuple' object has no attribute 'append'

In [55]:
# Sets are collection of UNIQUE elements

In [56]:
{1,1,1,2,2,9,9,9,9,9,9,9}

{1, 2, 9}

In [59]:
set([1,1,1,2,2,9,9,9,9,9,9,9])

{1, 2, 9}

In [60]:
s = set([1,1,1,2,2,9,9,9,9,9,9,9])

In [61]:
s

{1, 2, 9}

In [62]:
s.add('new')

In [65]:
# New set
s

{1, 2, 9, 'new'}

In [11]:
# Conditions if
if True:
    print("i'm hving a condition")

i'm hving a condition

In [12]:
if 55>=11:
    print('math condition')

math condition

In [17]:
'''
only the first TRUE condition will execute, 
both 2nd & 3rd conditions are ture BUT only 2nd will execute
'''
if 1==2:
    print('1st condition')
elif 2==2:
    print('2nd condition')
elif 1!=2:
    print('3rd condition')
else:
    print('4th condition')

2nd condition